.logoImage{
    float: left;
}
.shortForm{
    float: left;
    font-size: 45px;
    font-family: Bebas Neue Regular;
    font-weight: bold;
}
.YathinImg{
    border: #df5050;
    border-radius: 100px;
    border-style: solid;
    box-shadow: white;
}
.headerColor{
    background-color: #161718;
    background-blend-mode: hard-light;
}
.namYathin{
    color:#df5050;
    font-family: Bebas Neue Regular;
    font-weight: bold;
    font-size: 50px;
    text-shadow: white;
}
.clgsdy{
    color: #D1B2A6;
}
.instractions{
    background-color: #161718;
}
.readItCon{
    font-size: 12.5px;
}
.image img {
    display: block;

}
.image #color1 a{
    
    background-color: #3b5998;

}

.image #color1:hover a{
    
    background-color: #2c4374;

}
.image #color2 a{
    
    background-color: #55acee;

}

.image #color2:hover a{
    
    background-color: #3c79a8;

}
.image #color3 a{
    
    background-color: #f3572f;

}

.image #color3:hover a{
    
    background-color: #a83b1f;

}

.image #zoomIn img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
.image #zoomIn:hover img{
    transform: scale(1.05);
}
.cardcol{
    background-color: #e5d6d1;
}
